h1 {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: grey;
}

button {
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20%;
  padding: 14px 40px;
  box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 0.7);
  transition: 0.5s;
  font-family: 'Dela Gothic One', cursive;
  font-weight: 700;
  font-size: 72px;
  background-color: #4caf50; /* зеленый */
  border: none;
  border-radius: 40px;
  color: aliceblue;
}

button:hover {
  transform: translate(-51%, -60%);
  box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 0.3);
}

@media screen and (max-width: 768px) {
  div {
    max-width: 100%;
  }
  button {
    margin-top: 100%;
  }
}
